 <section class="content-header">
      <h1>
       Edit Selected Post - <%= @selected_post.post.title %>
        <small><%= @app_name %></small>
      </h1>
         <ol class="breadcrumb">
        <li><%= link_to admin_path do %><i class="fa fa-dashboard"></i>Dashboard<% end %></li>
        <li><%= link_to "/admin/monologue" do %>Posts</li><% end %>
        <li><%= link_to "/admin/selected_posts/" do %>Selected Posts</li><% end %>
        <li class="active">Edit Selected Post</li>
      </ol>
    </section>
 

<div class="col-lg-12 col-xs-12">
    <br/>
<h4>Editing Pick: <%= @selected_post.id %></h4>
<%= render 'form' %>
<%= link_to 'Show', @selected_post.post.full_url %> |
<%= link_to 'Back', selected_posts_path %>
</div>