 <section class="content-header">
      <h1>
       All Views
        <small><%= @app_name %></small>
      </h1>
      <ol class="breadcrumb">
        <li><%= link_to admin_path do %><i class="fa fa-dashboard"></i>Dashboard<% end %></li>
        <li class="active">Views</li>
      </ol>
    </section>
    
 
<% if params[:startdate] or params[:enddate] %>
<%= render 'admin/pastviews' %>
<% else %>
<%= render 'admin/currentviews' %>
<% end %>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

