<h1>New Layout</h1>

<%= form_for(@layout) do |f| %>
  <% if @layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@layout.errors.count, "error") %> prohibited this layout from being saved:</h2>

      <ul>
      <% @layout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :custom_layout %><br>
    <%= f.text_area :custom_layout, class: 'code-area', rows: 40   %>
  </div>
  <div class="form-group">
    <%= f.label :layout_type %><br>
    <%= f.text_field :layout_type, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Create Layout", {:class =>  'btn btn-success'} %>
  </div>
<% end %>

<%= link_to 'Back', layouts_path %>
