<!DOCTYPE html>
<html>
  <%= render 'layouts/admin/head' %>
  
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <!-- Renders Header and Sidebar -->
    <%= render 'layouts/admin/header' %>
    <%= render 'layouts/admin/sidebar' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
    <!-- /.content-wrapper -->
    
    <!-- Renders Footer -->
    <%= render 'layouts/admin/footer' %>
    <%= render 'layouts/admin/settings' %>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  </div>
  <!-- ./wrapper -->
  <%= render 'layouts/admin/script' %>
</body>
</html>