 <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        All Pages
        <small><%= @app_name %></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active"><a href="/admin/pages">Pages</a></li>
      </ol>
    </section>
    
    <br />
<div class="col-lg-12 col-xs-12">

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nested</th>
      <th>Postable</th>
      <th>Slug</th>
      <th>Static</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.nested %></td>
        <td><%= page.postable %></td>
        <td><%= page.slug %></td>
        <td><%= page.static %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to 'New Page', new_page_path, class:'btn btn-success' %>
</div>