<% if monologue_current_user.role == "marketing" %>
You do not have permission to create/modify posts.
<% else %>
<%= post.error_messages %>
<%= post.text_field :title, label:  t(".title"), class:  "form-control" %><br/>
<%= post.text_area :content, label:  t(".content"), class:  "span12 ckeditor", id: "post_content" %><br/>
<%= post.text_field :slug, label:raw("Slug(This is the part of the last part of the URL, which identifies your post, like: /pets/cats/cat1 Leave blank for the Post Title paramitrized)."), class:'form-control' %>
<%= post.text_field :published_at, class: 'form-control', label:  t(".published_at"), data: {datepicker: "datepicker"}, value: post.object.published_at.nil? ? "" : post.object.published_at.strftime("%Y-%m-%d") %>
<b>Tags:</b><div><%= post.text_field :tag_list, style: 'style="list-style-type: none;'%></div>
<%= post.collection_select(:page_id, Page.where(:postable => true).all, :id, :slug, {:prompt=>true}, {:class=>'form-control'}) %>
<% if monologue_current_user.role == "admin" or monologue_current_user.role == "cm" %>
<%= post.collection_select(:user_id, Monologue::User.all, :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
<% end %>
<% if monologue_current_user.role == "writer" %>
<%= post.collection_select(:template_id, ::Template.all, :id, :name, {:prompt=>true}, {:class=>'form-control', :disabled => true} ) %>
<% else %>
<%= post.collection_select(:template_id, ::Template.all, :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
<% end %>

<div class="checkbox">
<% if monologue_current_user.role == "marketing" or monologue_current_user.role == "writer"  %>
You can not publish this post
<% else %>
<%= post.check_box :published, label:  t(".published") %>
<% end %>
</div>
<div class="form-actions">
  <%= post.button t(".save"), class:  "btn btn-large btn-primary" %> 
  <%= post.button t(".preview"), class: "btn btn-large", type: "button", value: "preview"%>
</div>

<div class="post-preview modal-backdrop hide" data-url="<%=admin_post_preview_url%>" data-toggle="post-preview" data-trigger="button[value='preview']">
  <div class="post-preview-inner">
    <div class="navbar pull-right">
      <div class="navbar-inner">
        <span class="brand"><%=t(".preview")%></span> 
        <a class="btn btn-primary pull-right" data-dismiss="post-preview"><%=t(".close")%></a>
      </div>
    </div>
  </div>
  <iframe src="" name="preview"></iframe>
</div>

<script>
  if($.fn.datepicker.defaults_<%= I18n.locale %>){
    $.fn.datepicker.defaults = $.fn.datepicker.defaults_<%= I18n.locale %>;
  }
  $("#post_tag_list").select2({tags: <%= Monologue::Tag.all.map{|t| t.name }.to_json.html_safe %> });
</script>
<% end %>